<li class="product-pos list-group-item d-flex justify-content-between align-items-center" data-id="{{id}}" data-name={{product_name}} data-price="{{price}}">
    {{product_name}}
    <span class="badge badge-info badge-pill">${{price}}</span>
  </li>