<li class="sale-block list-group-item d-flex justify-content-between align-items-center" data-id="{{id}}" data-date="{{sale_date}}" data-total="{{sale_total}}">
    <strong>Transaction ID #{{id}}</strong> <span class="text-muted">{{sale_date}}</span>
    <span class="badge badge-success badge-pill">${{sale_total}}</span>
  </li>